<div class ="jumbotron center">
	
	
	<h1>Welcome to your new travel app!</h1>

	<iframe src="https://player.vimeo.com/video/176085155?color=7e91a2&title=0&byline=0&portrait=0" width="640" height="272" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	<% if user_signed_in? %>
		# do something
	<% else %>

	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
	</p>
	<% end %>
</div>
